.katex-display > .katex {
	text-align: left !important;
}

.katex-display {
	font-size: 1.15em !important;
}

body               > section .katex-display,
body > div.content > section .katex-display {
    margin: 0 2.5em;
    margin-bottom: 1em;
}

ol ~ p {
	margin: 0 2.5em;
}

/* ol {
	list-style-type: lower-alpha;
} */